<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top bg-tran" id="navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <!-- -->
                <img src="assets/images/emblem.png" class="card-logo card-logo-dark" alt="logo dark" height="60">
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="toggleMenu()">
                <i class="ri-menu-line"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mx-auto"></div>
                <a routerLink="/faqs" class="btn btn-link fw-medium text-decoration-none">FAQS</a>
                <a routerLink="/aboutus" class="btn btn-link fw-medium text-decoration-none">About us</a>
               
                <div class="mx-auto"></div>
                <div class="">
                    <a class="navbar-brand" routerLink="/">
                        <!-- <h4 class="fw-bold text-white">dides</h4> -->
                        <img src="assets/images/logo.png" class="card-logo2 card-logo-dark mt-3" alt="logo dark"
                            height="60">
                    </a>
                </div>

            </div>
        </div>
    </nav>

    <div class="profile-foreground position-relative mx-n4 mt-n4">
        <div class="profile-wid-bg">
            <img src="../../../../../assets/images/application.jpg" alt="" class="profile-wid-img" />
        </div>
    </div>

 
    <section class="section nft-hero" id="hero">
        <div class="container">
            <h2 class="fw-bold text-white" style="text-align: center;">{{orgName}}</h2> 
            <div class="separator">
                <h5><b>Steps for Applications</b></h5>
            </div>
            <div class="row">
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-5" *ngFor="let card of stepsData">
                    <div class="disco-card card-animate" (click)="open(filtetcontent, card.head)">
                        <div class="disco-title"> {{ card.head }}</div>
                        <div class="disco-body">
                            <div class="disco-icon">
                                <i class="bx {{ card.icon }} fs-35"></i>
                            </div>
                            <div class="text-start">{{ card.description }}</div>
                        </div>
                        <div class="disco-dancer disco-two">
                            <div class="lt"></div>
                            <div class="lb"></div>
                            <div>{{ card.stepnumber }}</div>
                            <div>STEP</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-1"></div>
            <div class="col-xxl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="separator">
                                <h5><b>Our Services</b></h5>
                            </div>
                        </div>
                        <div class="row" *ngIf="sources.length === 0">
                        
                                <div class="" role="tablist" aria-orientation="vertical">
                                    <div class="containerw">
                                        <div class="content">
                                            <h1>Coming Soon</h1>
                                            <p>We're working hard to bring Services of this Organization. Stay tuned!</p>
                                           
                                        </div>
                                    </div>
                            </div>
                        </div> 


                        <div class="row" *ngIf="sources.length > 0">
                            <div class="col-lg-3">
                                <div class="" role="tablist" aria-orientation="vertical">
                                    <ul ngbNav #CustomVertical="ngbNav" [activeId]="1"
                                    class="nav nav-pills flex-column nav-pills-tab custom-verti-nav-pills text-center">
                                   
                                        <li *ngFor=" let source of sources; let i = index"  [ngbNavItem]="i+1">
                                        <a ngbNavLink (click)="sourceChange(source)">
                                            <i class="ri-parking-box-line d-block fs-20 mb-1"></i>
                                            <b>{{source.name}}</b>
                                        </a>
                                        <ng-template ngbNavContent>
                                            <div class="container mt-1">
                                                <div class="row d-flex justify-content-start">
                                                    <div class="col-xl-3 col-lg-2 col-sm-4 col-md-2 mb-4"
                                                            *ngFor="let dashlet of subsources">
                                                            <div class="card1  mat-elevation-z6 dashlet-bg"
                                                                (click)="openEndWithData(filtetcontent, 'LOGIN', dashlet)" *ngIf="dashlet.locked">
                                                                <div class="card-body">
                                                                    <mat-icon style="float: right; color: wheat; 
                                                            font-size: 24px;" *ngIf="dashlet.locked">lock</mat-icon>
                                                                    <div class="card-inner">
                                                                        <i class="{{ dashlet.iconName }}"
                                                                            style="font-size: 36px;"></i>
                                                                        <h5 class="mt-2 mb-5">{{ dashlet.name }}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card1  mat-elevation-z6 dashlet-bg"
                                                            (click)="openNormalParking()" *ngIf="!dashlet.locked">
                                                                <div class="card-inner">
                                                                    <i class="{{ dashlet.iconName }}"
                                                                        style="font-size: 36px;"></i>
                                                                    <h5 class="mt-2 mb-5">{{ dashlet.name }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </div>
                                           

                                        </ng-template>
                                        </li>
                                   
                                </ul>   
                                </div>
                            </div> <!-- end col-->
                            <div class="col-lg-9">
                                <div class="tab-content text-muted mt-3 mt-lg-0">
                                    <div [ngbNavOutlet]="CustomVertical"></div>
                                </div>
                            </div> <!-- end col-->
                        </div>
                         <!-- end row-->
                    </div><!-- end card-body -->
                </div><!--end card-->
            </div>
        </div>
        <!-- end container -->
    </section>
</div>

<ng-template #filtetcontent let-offcanvas>
    <div class="d-flex align-items-center bg-primary bg-gradient p-3 offcanvas-header">
        <h5 class="m-0 me-2 text-white">{{title}}</h5>
        <button type="button" class="btn-close btn-close-white ms-auto " data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div class="auth-page-content">
            <div class="container">
                <div class="text-center mt-sm-3 mb-4 text-white-50">
                    <div>
                        <a href="javascript:void(0);" class="d-inline-block auth-logo">
                            <img src="../../../../../assets/images/logo.png" alt="" height="80" widit="auto">
                        </a>
                    </div>
                </div>
                <div class="row p-2 d-flex justify-content-center">
                

                    <form [formGroup]="loginForm" *ngIf="title === 'LOGIN'">
                        <div class="mb-1">
                            <label class="form-label" for="username">User Name</label>
                            <input type="username" class="form-control" id="username" formControlName="username"
                                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" placeholder="User Name">
                            @if (submitted && f['username'].errors) {
                            <div class="invalid-feedback">
                                @if(f['username'].errors['required']){
                                <div>User Name is required</div>}
                                @if(f['username'].errors['username']){
                                <div>Error..
                                </div>
                                }
                            </div>
                            }
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password-input">Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5"
                                    placeholder="Enter password" id="password-input" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                <button
                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted"
                                    type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                          }" (click)="toggleFieldTextType()"></i></button>
                                @if (submitted && f['password'].errors) {
                                <div class="invalid-feedback">
                                    @if(f['password'].errors['required']){
                                    <span>Password is required</span>
                                    }
                                </div>
                                }
                            </div>
                        </div>

                        <a routerLink="#" class="link">Forgot Password?</a>

                        <div class="mt-4">
                            <a (click)="onSubmit(loginForm.value)" class="btn btn-primary w-100" type="submit">Sign In</a>
                        </div>

                        <div class="mt-4 text-center">
                            <p class="mb-0">Don't have an account ? <a routerLink="#" class="link">Register</a> </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>