<div class="col-xxl-12">
    <div class="card">
        <div class="card-body">

            <!-- table -->
            <div class="row">
                <data-table [columns]="columns" [items]="deviceLists" [sort]="true" caption="List of Devices" subTitle="">
                    <ng-template pTemplate="status" let-item>
                    <i class="{{
                  item.recordStatusId === 1
                    ? 'ri-checkbox-circle-fill text-success'
                    : 'ri-close-circle-fill text-danger'
                }} align-middle "></i>
                    <span class="{{ item.recordStatusId === 1 ? 'text-success' : 'text-danger' }}">
                      {{ item.recordStatusId === 1 ? "Active" : "Disabled"}}
                    </span>
                  </ng-template>
                  <ng-template pTemplate="actions" let-item let-index>
                    <button [matMenuTriggerFor]="menu" mat-icon-button>
                      <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="lockUnlockDevice(item)"
                      >
                        <mat-icon color="primary">lock_open</mat-icon>Lock/Unlock
                      </button>

                    </mat-menu>
                  </ng-template>
                  <ng-template #emptystate>
                    <div
                      *ngIf="deviceLists.length === 0"
                      class="emptyTable"
                    >
                      No records found
                    </div>
                  </ng-template>
                </data-table>
          
              </div>

      
     

        </div>
        </div>
    </div><!--end col-->