<div class="mat-dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-title">
    <h2 mat-dialog-title>{{ title }}</h2>
    <button type="button" class="btn-close btn-close-white ms-auto"
      style="float: right; font-size: 1rem; padding-top: 20px" data-bs-dismiss="offcanvas" aria-label="Close"
      mat-dialog-close></button>
  </div>
</div>

<div class="col-xxl-12">
  <div class="card">
    <div class="card-body">
      <!-- Nav tabs -->
      <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger mb-3">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="nav-link">
            CHECK VEHICLE BILLS
          </a>
          <ng-template ngbNavContent>


            <form [formGroup]="form" autocomplete="off" *ngIf="!isPayment">
              <div class="row pt-5">
                <div class="col-2"></div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>Plate Number</mat-label>
                    <input matInput formControlName="payerName" type="text" placeholder="Plate Number">
                    <mat-error>This is a required field!</mat-error>
                  </mat-form-field>
                </div>
             
                <div class="col-2">
                  <button class="form-button" type="submit" mat-raised-button mat-fab extended color="primary"
                    [disabled]="form.invalid" (click)="searchData(form.value)">
                    <span class="text-button">Check</span>
                  </button>
                </div>
              </div>
            </form>
            <form [formGroup]="paymentForm" autocomplete="off" *ngIf="isPayment">
              <div class="row pt-2">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Pay via ?</mat-label>
                    <mat-select formControlName="paymentOption"  >
                      <mat-option placeholder="Pay Via ?" *ngFor="let data of paymentOptions" [value]="data.value"
                      (click)="paymentOption(data.value)">{{data.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-1" *ngIf="paymentOpt === 'mobile'"></div>
                <div class="col-1">
                  <div class="form-check px-1" *ngIf="paymentOpt === 'mobile'">
                      <input class="form-check-input" type="radio" name="checkActor" [id]=1 [checked]="" (change)="selectedValue('airtel_pesa')">
                      <img src="../../../../../assets/images/airtel_pesa.png" alt="" class="avatar-xs rounded-circle" />
                    </div>
              </div>
              <div class="col-1" *ngIf="paymentOpt === 'mobile'">
                  <div class="form-check px-1">
                      <input class="form-check-input" type="radio" name="checkActor" [id]=1 [checked]="" (change)="selectedValue('voda_pesa')">
                      <img src="../../../../../assets/images/voda_pesa.png" alt="" class="avatar-xs rounded-circle" />
                    </div>
              </div>
              <div class="col-1" *ngIf="paymentOpt === 'mobile'">
                  <div class="form-check px-1">
                      <input class="form-check-input" type="radio" name="checkActor" [id]=1 [checked]="" (change)="selectedValue('tigo_pesa')">
                      <img src="../../../../../assets/images/tigo_pesa.png" alt="" class="avatar-xs rounded-circle" />
                    </div>
              </div>
              <div class="col-1" *ngIf="paymentOpt === 'mobile'">
                  <div class="form-check px-1">
                      <input class="form-check-input" type="radio" name="checkActor" [id]=1 [checked]="" (change)="selectedValue('halo_pesa')">
                      <img src="../../../../../assets/images/halo_pesa.png" alt="" class="avatar-xs rounded-circle" />
                    </div>
              </div>
                <div class="col-3" *ngIf="showPhone && paymentOpt === 'mobile'">                    
                  <mat-form-field>
                    <mat-label>{{pspName | titlecase}} Number</mat-label>
                    <input
                      matInput
                      formControlName="phoneNumber"
                      inputmode="numeric"
                      type="text"
                      placeholder="{{pspName | titlecase}} Number"
                      (keydown)="validateNumberInput($event)"
                      pattern="^(07|06)\d{8}$"
                      maxlength="10"
                      required
                    />
                    <mat-error
                      *ngIf="
                        paymentPlanForm.get('phoneNumber').invalid &&
                        (paymentPlanForm.get('phoneNumber').dirty ||
                        paymentPlanForm.get('phoneNumber').touched)
                      "
                    >
                      <ng-container
                        *ngIf="paymentPlanForm.get('phoneNumber').errors['required']"
                        >This field is required!</ng-container
                      >
                      <ng-container
                        *ngIf="paymentPlanForm.get('phoneNumber').errors['pattern']"
                        >Phone number must start with 07 or 06 and be 10 digits
                        long!</ng-container
                      >
                    </mat-error>
                  </mat-form-field>
                </div> 
              </div>
              <div class="row" *ngIf="paymentOpt === 'mobile'">
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Plate Number</mat-label>
                    <input    [readonly]="true"  matInput formControlName="plateNumber" type="text" placeholder="Plate Number">
                    <mat-error>This is a required field!</mat-error>
                  </mat-form-field>
                </div>
                  <div class="col-3">
                    <mat-form-field>
                      <mat-label>Control Number</mat-label>
                      <input  [readonly]="true" matInput formControlName="controlNumber" type="number" placeholder="Control Number">
                      <mat-error>This is a required field!</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field>
                      <mat-label>Amount</mat-label>
                      <input matInput formControlName="amount" type="number" placeholder="Amount">
                      <mat-error>This is a required field!</mat-error>
                    </mat-form-field>
                  </div>
                 <div class="col-2">
                    <button class="form-button" type="submit" mat-raised-button mat-fab extended color="primary"
                     [disabled]="paymentForm.invalid"
                                 (click)="save()">
                      <span class="text-button">pay</span>
                    </button>
                  </div>
              </div>
            </form>

            <div class="row p-3" *ngIf="showTable">
              <div class="table-responsive table-card">
                <table class="table table-centered table-hover align-middle table-nowrap mb-0">
                  <tbody>
                    <tr class="header">
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>SN</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>CONTROL NUMBER</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>DATE</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>BILL AMOUNT</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>PAID AMOUNT</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <h6>ACTION</h6>
                        </div>
                      </td>
                    </tr>
                    @for ( data of bills; track $index) {
                    <tr>

                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          {{$index+1}}
                        </div>

                      </td>
                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          {{data.controlNumber}}
                        </div>
                      </td>
                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          {{data.createdDate | date: 'dd/MM/yyyy'}}
                        </div>
                      </td>
                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          {{data.billAmount | number}} - {{data.currencyCode}}
                        </div>
                      </td>
                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          {{data.paidAmount | number}} - {{data.currencyCode}}
                        </div>
                      </td>
                      <td class="mb-3">
                        <div class="d-flex align-items-center">
                          <button type="button" class="btn btn-soft-primary btn-sm" (click)="pay(data)">pay
                          </button>
                        </div>
                      </td>
                    </tr>
                    }
                    <tr *ngIf="bills.length === 0">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      <div class="d-flex align-items-center">
                        <p class="text-center">---No Bills Found---</p>
                      </div>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="nav-link">
            REGISTER PAYMENT PLAN
          </a>
          <ng-template ngbNavContent>
            <form [formGroup]="paymentPlanForm" autocomplete="off">
              <div class="row pt-3">
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="region">
                      <mat-option *ngFor="let region of regions" (click)="onRegionChange(region)"
                        [value]="region">{{
                        region.name
                        }}</mat-option>
                    </mat-select>
                    <mat-error>This field is required!</mat-error>
                  </mat-form-field>
                </div>
  
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>Select Council</mat-label>
                    <mat-select formControlName="council">
                      <mat-option *ngFor="let council of councils" [value]="council">{{ council.name
                        }}</mat-option>
                    </mat-select>
                    <mat-error>This field is required!</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>Select Payment Plan</mat-label>
                    <mat-select formControlName="paymentPlan">
                      <mat-option *ngFor="let plan of paymentPlans"
                        [value]="plan.code">{{plan.globalPaymentPlan.name | uppercase}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input
                      matInput
                      formControlName="phoneNumber"
                      inputmode="numeric"
                      type="text"
                      placeholder="Phone Number"
                      (keydown)="validateNumberInput($event)"
                      pattern="^(07|06)\d{8}$"
                      maxlength="10"
                      required
                    />
                    <mat-error
                      *ngIf="
                        paymentPlanForm.get('phoneNumber').invalid &&
                        (paymentPlanForm.get('phoneNumber').dirty ||
                        paymentPlanForm.get('phoneNumber').touched)
                      "
                    >
                      <ng-container
                        *ngIf="paymentPlanForm.get('phoneNumber').errors['required']"
                        >This field is required!</ng-container
                      >
                      <ng-container
                        *ngIf="paymentPlanForm.get('phoneNumber').errors['pattern']"
                        >Phone number must start with 07 or 06 and be 10 digits
                        long!</ng-container
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Plate Number</mat-label>
                    <input  matInput formControlName="plateNumber" type="text" placeholder="Plate Number">
                    <mat-error>This is a required field!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <button class="form-button" type="submit" mat-raised-button mat-fab extended color="primary"
              [disabled]="paymentPlanForm.invalid"
                          (click)="registerPaymentPlan()">
               <span class="text-button">Register</span>
             </button>
          </ng-template>
        </li>

      </ul>
      <div class="tab-content text-muted">
        <div [ngbNavOutlet]="ModifierCustom"></div>
      </div>
    </div><!-- end card-body -->
  </div>
</div><!--end col-->