.modal-header {
    border-bottom: 1px solid #dee2e6;
  }
  
  .card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .item-info p {
    margin: 0;
  }
  
  .btn-close {
    padding: 1rem;
  }
  