<div class="mat-dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div></div>
    <div class="header-title">
        <h2 mat-dialog-title>{{ title }}</h2>
        <button type="button" class="btn-close btn-close-white ms-auto"
            style="float: right; font-size: 1rem;padding-top: 20px" data-bs-dismiss="offcanvas" aria-label="Close"
            mat-dialog-close>
        </button>
    </div>
</div>
<mat-dialog-content>
  <div class="card-body">
       <data-table [columns]="columns" [items]="payments" [sort]="true"
                                        caption="List of Applications" subTitle="">
                                        <ng-template pTemplate="createdDate" let-item>
                                            {{item.createdDate | date: 'dd/MM/yyyy'}}
                                        </ng-template>
                                   <!-- <ng-template pTemplate="controlNo" let-item>
                                               {{ item.controlNumber}}
                                        </ng-template> -->
                            
                                    <ng-template pTemplate="paidAmount" let-item>
                                               {{ item?.paidAmount|number}} - {{item?.bill?.currencyCode}}
                                        </ng-template>
                            <!-- <ng-template pTemplate="balance" let-item>
                                              0
                                        </ng-template> -->
                                        <ng-template pTemplate="actions" let-item let-index>
                                            <button [matMenuTriggerFor]="menu" mat-icon-button>
                                                <mat-icon>more_vert</mat-icon>
                                            </button>

                                            <mat-menu #menu="matMenu">
      
                                                <!-- <button mat-menu-item (click)="previewApplication(item)">
                                                    <mat-icon color="primary">view_list</mat-icon>View Application
                                                </button>
                                               <button *ngIf="item?.applicationStatus?.name === 'EXPIRED'||item?.applicationStatus?.name === 'EXPIRED'" mat-menu-item (click)="renewApplication(item.uuid)">
                                                    <mat-icon color="primary">view_list</mat-icon>Renew Application
                                                </button>-->
                                                <button mat-menu-item (click)="previewReceipt(item)" mat-dialog-close>
                                                    <mat-icon color="primary">view_list</mat-icon>View Receipt
                                                </button>
                            
                                                   <!-- <button *ngIf="item?.permitNumber !== null" mat-menu-item  (click)="previewPermit(item)">
                                                   <mat-icon color="primary">view_list</mat-icon> Preview Permit
                                                </button>
                                               <button mat-menu-item  (click)="previewPermit(item)">
                                                   <mat-icon color="primary">view_list</mat-icon> Preview Permit

                                                </button>
                                               <button  mat-menu-item  (click)="update(item)">
                                                   <mat-icon color="primary">view_list</mat-icon> Edit Application
                                                </button> -->
                                            </mat-menu>
                                        </ng-template>
                                    </data-table>
  </div>
</mat-dialog-content>
  <div mat-dialog-actions align="end"  >
  
         <!-- <button class="btn btn-primary" *ngIf="code === 1" type="button" (click)="initialize(application.uuid)">Initialize</button> -->
         <!-- <button *ngIf="application?.applicationStatus?.name === 'REJECTED'" class="form-button" type="submit" mat-raised-button mat-fab extended color="primary"
           (click)="initialize(application.uuid)" >Resend</button> -->

  </div>